$red: #d32f2f;
$blue: #303F9F;
$neut: #616161;

$red-highlight:#e57373;
$blue-highlight:#7986CB;
$neut-highlight:#E0E0E0;

body {
	font: 14px "Century Gothic", Futura, sans-serif;
	margin: 20px;
}

.root {
}

.board-row::after {
	clear: both; //改行
	content: "";
	display: table;
}

.square {
	border: 1px solid #999; //枠
	float: left; //要素を左寄せに。次の要素は右に回り込む
	font-size: 24px;
	font-weight: bold;
	line-height: 7vh;
	height: 7vh;
	width: 7vh;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	background-size: cover;
}

.square:focus {
	outline: none;
}

.kbd-navigation .square:focus {
	background: #ddd;
}

.game {
	display: flex;
	flex-direction: row;
}

.end-turn-button {
}

.red {
	background: $red;
}

.blue {
	background: $blue;
}

.neut {
	background: $neut;
}

.red-highlight {
	background: $red-highlight;
}

.blue-highlight {
	background: $blue-highlight;
}

.neut-highlight {
	background: $neut-highlight;
}

.agent {
	background-image: url('./icons/male.svg');
}

.arrow-up {
	background-image: url('./icons/arrow-up.svg');
}

.arrow-down {
	background-image: url('./icons/arrow-down.svg');
}

.arrow-left {
	background-image: url('./icons/arrow-left.svg');
}

.arrow-right {
	background-image: url('./icons/arrow-right.svg');
}
